.header {
  color: rgb(174, 154, 100);
  margin-bottom: 40px;
  font-size: 35px;
  white-space: normal; /* Eski düzenlemede "nowrap" kullanmıştık, tekrar "normal" olarak değiştirin */
}

.texts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  text-align: center;
  color: rgb(174, 154, 100);
  width: 100%;
  overflow-wrap: break-word; /* Kelimeleri satır sonunda kırmak için */
}

.content {
  position: relative;
  height: 100%;
  display: flex; /* İçeriği dikey yönde hizalamak için */
  flex-direction: column; /* İçeriği dikey yönde hizalamak için */
  justify-content: center; /* İçeriği dikey ortalamak için */
}

@media screen and (max-width: 901px) {
  .header{
    font-size: 22px;
  }
}