
.section {
    width: 100%;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-position: 50% 30%;
    background-image: url("https://static.wixstatic.com/media/9fdacc_8c628fcb6b864624962bad61dd46cf52.jpg");
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .title {
    line-height: 1.2em;
    text-align: center;
    font-size: 40px;
    color: rgb(174, 154, 100);
    text-transform: uppercase;
    font-weight: bolder;
  }
  
  @media screen and (max-width: 700px) {
    .title {
      font-size: 26px;
    }
    .section {
      height: 500px;
      background-position: 50% 30%;
      margin-bottom: 0; 
    }
  }
  
  .span {
    line-height: 1.5em;
    text-align: center;
    font-size: 15px;
    color: rgb(174, 154, 100);
  }
  