.section{
    padding:100px 0;
}
.flex{
    display: flex;
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
}
.paragraph{
    font-size: 19px;
    color: rgb(174, 154, 100);
    margin-top: 10%;
    margin: 0 auto;
}
.input{
    width: 100%;
    margin-top: 20px;
    height: 40px;
}
.button{
    width: 100%;
    margin-top: 20px;
    height: 40px;
    text-transform: uppercase;
    background-color: rgb(174, 154, 100);
    color: white;
    cursor: pointer;
}
.button:hover{
    color: rgb(174, 154, 100);
    background-color: black;
}